a{
  text-decoration: none;
  color: black;
}


body{
  background-image: url('https://res.cloudinary.com/dyrvlnond/image/upload/v1606226753/Tracker/PHB_background_w48odp.jpg');
  color: rgb(77	23	18	);
}

button{
  background-color: rgb(214	224	190);
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 15px;
  }

  p{
    font-size: 15px;
  }
}