.logo{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.on-mini{
  position: absolute;
  top: 20px;
  left: 5%;
  z-index: 90;
}

.on-image{
  height: 200px;
}
