.admin-lobby-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combatant-container{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.combatant-info{
  margin: 10px auto;
  font-size: 20px;
}

.lobby-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#move-up, #move-down{
  border-radius: 10px;
  margin: auto 5px;
}

.user-details-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-details{
  display: flex;
  justify-content: space-around;   
  border: 8px solid rgb(190, 153, 73);
  border-style: groove;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}


.user-options{
  display: flex;
  align-self: center;
}

.up-down{
  display:flex;
}


#delete{
  position: relative;
  right: 15%;
  bottom: 40px;
  border-radius: 100%;
  font-size:15px;
  background-color: red;
  margin-top: 0px;
}