.admin-lobby-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combatant-container{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.combatant-info{
  margin: 10px auto;
  font-size: 20px;
}

.lobby-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-details{
  display: flex;
  justify-content: space-between;
  border: 3px solid #EDF2F4;
  border-radius: 10px;
  padding: 10px;
}

.user-options{
  display: flex;
  align-self: center;
}

.up-down{
  display:flex;
}


#delete{
  border-radius: 100%;
  font-size:15px;
  background-color: red;
  margin-top: 0px;
}