.player-lobby-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto 0;
}

.player-lobby-details{
  display: flex;
  justify-content: center;  
  border: 8px solid rgb(190, 153, 73);
  border-style: groove;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
}

.user-text{
  font-size: 30px;
}

#delete-self{
  position: relative;
  right: 100%;
  border-radius: 100%;
  font-size:15px;
  background-color: red;
}